.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grayBlue);
  color: var(--white);
  opacity: 0.6;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 0 20px;
}
.navbar.top {
  background: transparent;
}

.navbar a {
  color: var(--white);
  /* text-transform: uppercase; */
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1.8;
  padding: 10px 30px;
  margin: 0 5px;
  font-weight: 500;
  /* font-weight: bold; */
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}
.navbar .logo {
  font-weight: 500;
  width: 201px;
}

.faAngleDown {
  margin-right: 25px;
}

/* DROP DOWN */

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover,
.dropdown:hover .btn {
  background-color: #0b7dda;
}
