:root {
  --red: #ed6464;
  --orange: #fe9000;
  --yellow: #f6ab0b;
  --gray: #837c6b;
  --gray2: #423f37;
  --grayBlue: #4f7980;
  --tan: #dbad85;
  --white: #ffffff;
  --black: #000000;
  --font-one: "Roboto", sans-serif;
}
